h1{
	color:#000000;
	text-align: center;
	font-style: italic;
	}

p{
	color: #000000;
	text-align: center;
	font-style: italic;
	
}

div{
	text-align: center;

}

html{
	background-color: #ffe5f8;
}

p{
	background-image:"coquette.jpg";
}